{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- srsly plz dont cache this page kthxbye -->
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<title>
			{%  if title is defined %}
				{% block title %}
					{{ title }}
				{% endblock %}
			{% endif %}
		</title>
		{% block stylesheets %}
			{# <link type="text/css" rel="stylesheet" href="{{ asset('pdf-views/sheet.css') }}" > #}
			{# https://www.javatpoint.com/css-transition-opacity
			transition: opacity 0.3s linear 2s; // effect on 0.3 millisecond   #}

			<style>
			a:hover {
				opacity: 0.75;
				transition: opacity 0.1s;
			}
			</style>
		{% endblock %}
	</head>

	<body>

		<div
			class="page-flex">
			{# {% block navbar %}
			        {% include 'navigation/menu.html.twig' with {
			            'route': route, 'app': app
			        } %}
			    {% endblock %} #}

            <p>
							{{ 'mws.copyright'|trans|raw }}
                <br/>
                <br/>
                <a href="https://github.com/Monwoo/web-starters-free/tree/main/apps/mws-sf-pdf-billings"
                target="_blank">
										{{ 'mws.goToGithub'|trans|raw }}
                </a>
            </p>

						<div class="nav-item dropdown">
							{{ app.request.locale|locale_name(app.request.locale)|u.title }}
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
									<li><a class="dropdown-item" href="{{ path('app_pdf_billings', {_locale: 'en'}) }}">
									{{ 'en'|locale_name('en')|u.title }}
									</a></li>
									<li><a class="dropdown-item" href="{{ path('app_pdf_billings', {_locale: 'fr'}) }}">
									{{ 'fr'|locale_name('fr')|u.title }}
									</a></li>
							</ul>
						</div>

            <p>
								{{ 'mws.goToAppSupports'|trans|raw }}
                <a href="https://github.com/Monwoo/web-starters-free/issues" target="_blank">
                github.com/Monwoo/web-starters-free/issues
                </a>
            </p>
						<p>
								{{ 'mws.goToBusinessSupports'|trans|raw }}
                <a href="https://www.monwoo.com/don" target="_blank">
                www.monwoo.com/don
                </a>
            </p>
			<p>
				{% if gdprSentinelLoaded %}
					{# // TODO : why do not exist error in production ? #}
					{% set gdprLastCleanDate = gdprLastCleanDate ?? date('now') %}
					{% set gdprNextCleanDate = gdprNextCleanDate ?? date('now') %}
					{% set dateDiff = date().diff(gdprNextCleanDate) %}
					
					{{ gdprSentinelRequestCheck ? 'mws.gdpr.checkOK'|trans|raw : 'mws.gdpr.checkIsMissing'|trans|raw }}
					{{ 'mws.gdpr.endUserWarning'|trans({
						'%gdprNextCleanDate%': gdprNextCleanDate|format_datetime,
						'%diffSign%': dateDiff.invert ? '-' : '',
						'%hoursLeftBeforeReset%': (dateDiff.days * 24.0 + dateDiff.h + dateDiff.i / 60.0)|format_number({fraction_digit: 2}),
						'%gdprLastCleanDate%': gdprLastCleanDate|format_datetime,
						'%currentTime%': 'now'|format_datetime('short'),
					})|raw }}
				{% else %}
					{{ 'mws.gdpr.sentinelIsMissing'|trans|raw }}
				{% endif %}
				<br/>
				<a href="{{ path('app_factory_reset') }}" target="_blank" onclick="return confirm('Are you sure ? Will reset the serveur data for ALL USAGES.')">
					{{ 'mws.resetAppToFactory'|trans|raw }}
				</a>
			</p>
			<p style="display:flex;flex-wrap: wrap;">
					{{ 'mws.templates.availableListLabel'|trans|raw }}
				<br/><br/>
				{% set monwooTemplates = [ 
					'monwoo', 'monwoo-02-wp-e-com', 'monwoo-03-php-backend',
					'monwoo-04-hybrid-app', 'monwoo-05-php-crm',
					'monwoo-06-analytical-study', 'monwoo-07-upkeep' ] %}
				{# TIPS : setup with FULL translated string for extractions 
				tools to extract translated strings... #}
				{% set monwooTemplatesTranslatedLabels = {
					'monwoo' : 'mws.templates.labels.monwoo_01_WpDisplay'|trans,
					'monwoo-02-wp-e-com' : 'mws.templates.labels.monwoo_02_WpWaConfigECom'|trans,
					'monwoo-03-php-backend' : 'mws.templates.labels.monwoo_03_PhpBackend'|trans,
					'monwoo-04-hybrid-app' : 'mws.templates.labels.monwoo_04_hybridApp'|trans,
					'monwoo-05-php-crm' : 'mws.templates.labels.monwoo_05_PhpCrm'|trans,
					'monwoo-06-analytical-study' : 'mws.templates.labels.monwoo_06_analyticalStudy'|trans,
					'monwoo-07-upkeep' : 'mws.templates.labels.monwoo_07_upkeep'|trans,
				} %}
				{% for monwooTemplate in monwooTemplates %}
					<a href="{{ path('app_pdf_billings', {
						billing_config_submitable: {
							clientSlug: billingConfig.clientSlug,
							quotationTemplate: monwooTemplate,
						}, ts:tStamp
					}) }}" style="font-size:16pt;padding:7px;margin:7px;">
					{{ monwooTemplatesTranslatedLabels[monwooTemplate] }}
					</a> &nbsp;&nbsp;&nbsp;
				{% endfor %}
			<br/>
			</p>

			{% block body %}{% endblock %}

			{% if app.request.attributes.get('_route') != 'app_login' %}
				<footer class="footer">
					<p>© Monwoo 2023 (service@monwoo.com)</p>
				</footer>
			{% endif %}
		</div>

		{% block javascript %}
			<script>
				window.baseHref = "{{ app.request.getBaseURL()|e('js') }}";
			</script>

			{# {% if app.request.attributes.get('_route') in ['app_pdf_billings'] %}
			        <script src="{{ asset('libs/pdfjs-3.7.107/pdf.js') }}"></script>
			    {% endif %} #}
		{% endblock %}
	</body>
</html>
