{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{% extends 'base.html.twig' %}
{% set allowedHtmlTags = '<b>,<a>,<strong>,<br>,<pre>,<div>' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.form-input {
			width: 100%;
		}
		button, input, textarea {
			margin: 4px;
			padding: 7px;
		}
		textarea {
			width: 94%;
			height: 4em;
		}
		label {
			font-weight: bold;
		}
		select {
			min-width: 30vw;
		}
		[id="billing_config_submitable_outlays"] > div:nth-child(even) {
			margin: 12px 4px;
			padding: 7px;
			border: solid 1px #CCCCCC;
			background: #EEEEEE;
			border-radius: 12px;
		}
		/* TODO : not working, add class and get better selectors ? */
		[id="billing_config_submitable_outlays"] > div:nth-child(odd) {
			margin: 12px 4px;
			padding: 7px;
			border: solid 1px #EEEEEE;
			background: #CCCCCC;
			border-radius: 12px;
		}
		[id="billing_config_submitable_outlays"] > div > label {
			font-size: 16pt;
			font-weight: bold;
			color: darkblue;
		}
		.workload-details {
			border: solid 1px black;
			border-radius: 12px;
			padding: 7px;
		}
		.workload-details-pre {
			/* display: pre; */
			overflow: hidden;
			height: 0px;
		}

	</style>
{% endblock %}

{% set tStamp = 'now'|date('U') %}

{% block body %}
	<div class="billing-config-summary">
		<p><strong>{{billingConfig.quotationNumber}}</strong> pour : {{billingConfig.clientName}}</p>
		<p>Nb d'heures Monwoo : {{billingConfig.businessWorkloadHours ?? defaultBusinessWorkloadHours}}</p>
		<p><strong>Template : </strong>{{billingConfig.quotationTemplate}}</p>
		<p>Détail des heures Monwoo : </p>
		<div class="workload-details" onclick="const preElt = document.querySelector('.workload-details-pre');
		preElt.offsetHeight === 0
		? (preElt.style.height = 'auto') : (preElt.style.height = '0px');">{{ (
			billingConfig.businessWorkloadDetails ?? include(businessWorkloadTemplate)
		)  |striptags(allowedHtmlTags)|raw}}
		</div>
		<pre class="workload-details-pre">{{ (
				billingConfig.businessWorkloadDetails ?? include(businessWorkloadTemplate)
			)  |striptags(allowedHtmlTags)}}
		</pre>
	</div>


	{{ form_start(form) }}
	{# <div class="">
		<div class="">
			{{ form_label(form.clientName) }}
			{{ form_widget(form.clientName) }}
			{{ form_errors(form.clientName) }}
		</div>
	</div> #}

	{# TIPS : https://symfony.com/doc/current/form/form_collections.html
		https://symfony.com/doc/current/form/form_themes.html#form-custom-prototype #}
	<ul class="outlays" data-index="{{ form.outlays|length > 0 ? form.outlays|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.outlays.vars.prototype)|e('html_attr') }}"></ul>

	{# <input
		type="hidden" name="_token" value="{{ csrf_token('pdf-billings') }}"> #}
	{# TIPS : {{ form_rest(form) }}
		     with {{ form_end(form, {'render_rest': false}) }}
		     to move the forme rest somewhere else
		#}
	{{ form_end(form) }}
	<br/><br/>
	<button type="button" class="add_outlay_link" data-collection-holder-class="outlays"
	type="button"
	>Ajouter un débours</button>

	{# https://stackoverflow.com/questions/291813/recommended-way-to-embed-pdf-in-html #}
	{# Native way : #}
	<p style="text-align:right">
		<a href="{{ path('app_pdf_billings_view', { clientSlug: billingConfig.clientSlug, ts:tStamp } ) }}" target="_blank">
			Share a realtime PDF updated view of this billings to some client.
		</a>
		<br/>
		Advice : only for quick editing. GDPR sentinel will erase all data every 24hr.
		So best way to save your data, is to send the pdf by email.
	</p>
	<p style="text-align:right">
		{# <a href="{{ path('app_pdf_billings_view', { clientSlug: billingConfig.clientSlug, viewPart: 'CGV' } ) }}" target="_blank">
			Share a realtime PDF updated view of this billings to some client.
		</a> #}
		Comming soon : verify your PDF Authenticity and reload data from billings pdf imports.
	</p>
	<p style="text-align:right">
		<a href="{{ path('app_pdf_billings_view', { clientSlug: billingConfig.clientSlug, viewPart: 'CGV', ts:tStamp } ) }}" target="_blank">
			Conditions générales de vente
		</a>
	</p>
	{# TIPS : use Object to load under mobile webbrowser (or use jslib for more comparibilities)
	<embed src="{{ path('app_pdf_billings_view', {clientSlug:billingConfig.clientSlug} ) }}" style="width:100%; min-height:700px;" type="application/pdf"> #}

	{# <object data="MonwooDevis{{viewPart}}.pdf" type="application/pdf" frameborder="0" width="100%" height="600px" style="padding: 20px;">
		<embed src="{{ path('app_pdf_billings_view', {clientSlug:billingConfig.clientSlug} ) }}" style="width:100%; min-height:700px;" type="application/pdf">
	</object> #}
	<iframe src="{{ asset('libs/pdfjs-3.7.107-dist/web/viewer.html') }}?file={{ url('app_pdf_billings_view', {clientSlug:billingConfig.clientSlug, ts:tStamp})|url_encode(true) }}&embedded=true" style="width:100%; min-height:700px;" frameborder="0"></iframe>

	{# TIPS : Need pdf.js integrated library : #}
	{# <iframe src="{{ asset('libs/pdfjs-3.7.107-dist/web/viewer.html') }}?file={{ url('app_pdf_billings_view')|url_encode(true) }}&embedded=true" style="width:100%; min-height:700px;" frameborder="0"></iframe> #}

	{# TIPS : Need to BE online to be valide for gview ? #}
	{# <iframe src="https://docs.google.com/gview?url={{ url('app_pdf_billings_view')|url_encode(true) }}&embedded=true" style="width:100%; min-height:700px;" frameborder="0"></iframe> #}

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		// https://symfony.com/doc/current/form/form_collections.html#allowing-new-tags-with-the-prototype
		const addOutlayFormDeleteLink = (item) => {
			const removeFormButton = document.createElement('button');
			// Disallow button submit on previous form possible user 'enter' key input
			// onkeydown="return event.key != 'Enter';"
			// removeFormButton.setAttribute('onkeydown', "return event.keyCode !== 13;");
			// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button
			// Type : button: The button has no default behavior, and does nothing
			// when pressed by default. It can have client-side scripts listen
			// to the element's events, which are triggered when the events occur.
			removeFormButton.setAttribute('type', "button");

			removeFormButton.innerText = 'Supprimer ce débours';

			item.append(removeFormButton);

			removeFormButton.addEventListener('click', (e) => {
					e.preventDefault();
					// remove the item for the outlay form
					item.remove();
			});
		}

		const addOutlayFormDeleteAllLink = (appendTo, itemsToDeleteSelector) => {
			const removeFormButton = document.createElement('button');
			removeFormButton.setAttribute('type', "button");
			removeFormButton.innerText = 'Supprimer tous les débours';

			appendTo.append(removeFormButton);

			removeFormButton.addEventListener('click', (e) => {
					e.preventDefault();
					// remove all items for the outlays form
					document.querySelectorAll(itemsToDeleteSelector).forEach(item => {
						item.remove();
					});
			});
		}

		const billingConfigOutlaysSelector = '#billing_config_submitable_outlays';
		const target = document.querySelector(billingConfigOutlaysSelector);
		const itemsSelector = '[id^="billing_config_submitable_outlays_"]:not([name])';

		const addFormToCollection = (e) => {
			const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

			const item = document.createElement('div');

			const idx = collectionHolder.dataset.index;
			item.innerHTML = collectionHolder
			.dataset
			.prototype
			.replace(
				/__name__/g,
				idx
			);
			item.insertAdjacentHTML('afterbegin', '<label class="required">' + idx + '</label>');
			// add a delete link to the new form
			addOutlayFormDeleteLink(item);

			// collectionHolder.appendChild(item);
			target.appendChild(item);

			collectionHolder.dataset.index++;
		};

		document.querySelectorAll('.add_outlay_link').forEach(btn => {
			btn.addEventListener("click", addFormToCollection)
		});

		document
		.querySelectorAll(itemsSelector)
    .forEach((tag) => {
        addOutlayFormDeleteLink(tag)
    })
		addOutlayFormDeleteAllLink(target.parentElement, itemsSelector);

	</script>
{% endblock %}
