{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}

<style></style>
<div style="font-weight:bold;">
	{{billingConfig.clientName}}
</div>
<div>
	{{billingConfig.clientSIRET}}
</div>
<div>
	{{billingConfig.clientTvaIntracom}}
</div>
{# // TODO : email open on click.... #}
<div style="font-weight:bold;">
	{% if billingConfig.clientEmail %}
		Email :
		{{billingConfig.clientEmail}}
	{% endif %}
</div>
{# // TODO : tel open on click.... #}
<div>
	{% if billingConfig.clientTel %}
		Tel :
		{{billingConfig.clientTel}}
	{% endif %}
</div>
<div>
	{{billingConfig.clientAddressL1}}
</div>
<div>
	{{billingConfig.clientAddressL2}}
</div>
<div>
	{{billingConfig.clientWebsite}}
</div>
