{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{# <link type="text/css" rel="stylesheet" href="{{ asset('pdf-views/sheet.css') }}" > #}
<style>
{{pdfCssStyles}}</style>

{# 
https://stackoverflow.com/questions/31451779/tcpdf-adding-a-background-to-a-table-cell-or-div-that-shows-on-pdf
Currently, only the following CSS attributes are supported:

font-family
font-weight
font-style
color
background-color
text-decoration
width
height
text-align


	text-align: center; =>  work in style= attr ONLY...

#}

{# DEBUGS colors : #}
	<style>
/* .header {
	background-color: #FF0000;
}
.business-logo {
	background-color: #00FF00;
}
.quotation-title {
	background-color: #AA0000;
}
.client-logo {
	background-color: #0000FF;
} */


/* .contacts .business {
	background-color: #0FF00F;
}
.empty-space {
	background-color: #00808F;
}
.contacts .client {
	background-color: #F0F00F;
} */
</style>

{# https://stackoverflow.com/questions/3404095/tcpdf-not-render-all-css-properties
https://stackoverflow.com/questions/19002634/how-to-use-external-css-in-tcpdf-pdf-generation
https://stackoverflow.com/questions/11395171/why-does-tcpdf-ignore-my-inline-css
Some things won't work when included within <style> tags, however they will if added in a style="" attribute in the HTML tag. E.g. table padding – this doesn't work
table {
    padding: 5px;
} 

TCPDF has a very limited CSS support. It doesn't support all attributes.
#}

	{% if billingConfig %}
	{% set businessLogo = billingConfig.businessLogo ? billingConfig.businessLogo
	: 'file://' ~ kernelRootDir ~ '/public/medias/LogoMonwooDemo.jpeg' %}
	{# // TODO: empirique way, go check pdf default mesure unit... #}
	{% set fullWidth = 510 %}
		<table class="header" style="padding: 0px;border-spacing:{{ (0.3 / 4) * fullWidth }} 0;"> <tr>
			<td class="business-logo" style="width:{{ 0.1 * fullWidth }};">
				<img style="width:{{ 0.1 * fullWidth }};" src="{{ businessLogo }}" />
			</td>
			<td class="quotation-title" style="width:{{ 0.5 * fullWidth }};text-align: center;
      font-weight:bold;color:#005B98;font-size:14pt;">
				Devis n°{{billingConfig.quotationNumber}}
			</td>
			<td class="client-logo" style="width:{{ 0.1 * fullWidth }};">
				<img style="width:{{ 0.1 * fullWidth }};" src="{{ billingConfig.clientLogoUrl }}" />
			</td>
		</tr>
	</table>
  <table class="contacts" style="padding: 0px;border-spacing:{{ (0) * fullWidth }} 0;font-size:10pt;"> <tr>
			<td class="business" style="width:{{ 0.4 * fullWidth }};">
        {% include 'pdf-billings/pdf-views/business-contact.html.twig' with {
            'app': app, 'billingConfig': billingConfig
        } %}
			</td>
			<td class="empty-space" style="width:{{ 0.2 * fullWidth }};"></td>
			<td class="client" style="width:{{ 0.4 * fullWidth }};text-align: right;">
        {% include 'pdf-billings/pdf-views/client-contact.html.twig' with {
            'app': app, 'billingConfig': billingConfig
        } %}
			</td>
		</tr>
	</table>
{% else %}
	Please, submit previous form to update this PDF.
{% endif %}
