{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{% set allowedHtmlTags = '<b>,<a>,<strong>,<br>,<pre>' %}

<style></style>
<table class="quotation-item" style="padding: 1px 2px;
		border-spacing:{{ (0) * fullWidth }} 0;font-size:8pt;">
	<tr class="header" style="font-weight:bold;text-align:right;">
		<th class="description" style="width:{{ 0.28 * fullWidth }}">Désignation</th>
		<th class="quantity" style="width:{{ 0.12 * fullWidth }}">Quantité</th>
		<th class="price-per-unit-without-taxes" style="width:{{ 0.12 * fullWidth }}">P.U. H.T.</th>
		<th class="taxes-percent" style="width:{{ 0.12 * fullWidth }}">Taux de T.V.A.</th>
		<th class="discount-percent" style="width:{{ 0.12 * fullWidth }}">% de remise</th>
		<th class="price-without-taxes" style="width:{{ 0.12 * fullWidth }}">Prix H.T.</th>
		<th class="price-with-taxes" style="width:{{ 0.12 * fullWidth }}">Prix T.T.C.</th>
	</tr>
</table>
<table class="quotation-item" style="padding: 2px 2px;
		border-spacing:{{ (0) * fullWidth }} 0;font-size:9pt;">
	<tr class="data" style="text-align:right;font-size:10pt;">
		<td class="description" style="width:{{ 0.28 * fullWidth }};text-align:left;font-size:8pt;">{{description|striptags(allowedHtmlTags)|raw}}</td>
		<td class="quantity" style="width:{{ 0.12 * fullWidth }};font-weight:bold;">{{quantity|format_number({fraction_digit: 2})}}</td>
		<td class="price-per-unit-without-taxes" style="width:{{ 0.12 * fullWidth }};">{{pricePerUnitWithoutTaxes|format_currency('EUR', {rounding_mode: 'floor'})}}</td>
		<td class="taxes-percent" style="width:{{ 0.12 * fullWidth }};">{{taxesPercent|format_percent_number({rounding_mode: 'floor', fraction_digit: 2}) }}</td>
		<td class="discount-percent" style="width:{{ 0.12 * fullWidth }};">{{discountPercent|format_percent_number({rounding_mode: 'floor', fraction_digit: 2}) }}</td>
		<td class="price-without-taxes" style="width:{{ 0.12 * fullWidth }};font-weight:bold;">{{priceWithoutTaxes|format_currency('EUR', {rounding_mode: 'floor'})}}</td>
		<td class="price-with-taxes" style="width:{{ 0.12 * fullWidth }};font-weight:bold;">{{priceWithTaxes|format_currency('EUR', {rounding_mode: 'floor'})}}</td>
	</tr>
	<tr class="sub-data" style="text-align:right;font-size:10pt;">
		<td class="aim-title" style="width:{{ 0.28 * fullWidth }};text-align:left;font-weight:bold;">
			<div class="first" style="text-decoration:underline;">{{(aimTitle ?? "")|striptags(allowedHtmlTags)|raw}}</div>
			<div class="second" style="text-align:right;">{{(aimTitleBis ?? "")|striptags(allowedHtmlTags)|raw}}</div>
		</td>
		<td class="aim-description" style="width:{{ 0.60 * fullWidth }};font-weight:normal;text-align:left;">
			{{(aimDescription ?? "")|striptags(allowedHtmlTags)|raw}}
		</td>
	</tr>
	<tr>
		<td class="empty-space" style="height:{{paddingBottom ?? 0}};"></td>
	</tr>
</table>
