{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}

<style></style>

{# "ceiling", "floor", "down", "up", "halfeven", "halfdown", "halfup". #}

<table class="quotation-total" style="padding: 2px 2px;
				border-spacing:{{ (0) * fullWidth }} 0;font-size:9pt;">
	<tr style="text-align:right;font-size:10pt;font-weight:bold;">
		<td style="width:{{ 0.28 * fullWidth }};"></td>
		<td style="width:{{ 0.24 * fullWidth }};">TOTAL H.T. :</td>
		<td style="width:{{ 0.36 * fullWidth }};">{{totalPriceWithoutTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td style="width:{{ 0.12 * fullWidth }};"></td>
	</tr>
	<tr style="text-align:right;font-size:9pt;">
		<td style="width:{{ 0.28 * fullWidth }};text-align:left;font-size:8pt;"></td>
		<td style="width:{{ 0.24 * fullWidth }};">T.V.A. Monwoo :</td>
		<td style="width:{{ 0.36 * fullWidth }};">{{0|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td style="width:{{ 0.12 * fullWidth }};font-weight:bold;"></td>
	</tr>
	<tr style="text-align:right;font-size:9pt;">
		<td style="width:{{ 0.28 * fullWidth }};text-align:left;font-size:8pt;"></td>
		<td style="width:{{ 0.24 * fullWidth }};">T.V.A. Débours :</td>
		<td style="width:{{ 0.36 * fullWidth }};border-bottom:solid 1px black;">{{outlaysTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td style="width:{{ 0.12 * fullWidth }};font-weight:bold;"></td>
	</tr>
	<tr style="text-align:right;font-size:12pt;font-weight:bold;">
		<td style="width:{{ 0.28 * fullWidth }};"></td>
		<td style="width:{{ 0.24 * fullWidth }};">Montant T.T.C. :</td>
		<td style="width:{{ 0.36 * fullWidth }};">{{totalPriceWithTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td style="width:{{ 0.12 * fullWidth }};"></td>
	</tr>
	<tr>
		<td class="empty-space" style="height:{{paddingBottom ?? 0}};font-size:0px">&nbsp;</td>
	</tr>
	<tr style="text-align:right;font-size:10pt;font-weight:bold;">
		<td style="width:{{ 0.28 * fullWidth }};"></td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;"></td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;border-bottom:solid 1px black;">%</td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;border-bottom:solid 1px black;">H.T.</td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;border-bottom:solid 1px black;">T.V.A.</td>
		<td style="width:{{ 0.12 * fullWidth }};border:solid 1px black;">T.T.C.</td>
		<td style="width:{{ 0.12 * fullWidth }};"></td>
	</tr>
	{% include 'pdf-billings/pdf-views/quotation-transactions.html.twig' %}
	<tr>
		<td class="empty-space" style="height:4px;font-size:0px;">&nbsp;</td>
	</tr>
	<tr style="text-align:right;font-size:12pt;font-weight:bold;">
		<td style="width:{{ 0.40 * fullWidth }};"></td>
		{# TIPS : thick border ? https://stackoverflow.com/questions/25730636/different-borders-for-the-cell-in-tcpdf-by-setlinestyle 
		https://developer.mozilla.org/fr/docs/Web/CSS/border
		TCPDF do NOT work fully with 'border-width:2px;', sound like 'border-left-width:2px;' etc.. do the job...
		#}
		<td 
		style="width:{{ 0.24 * fullWidth }};
		border-width:1px;border-bottom-width:1px;border-left-width:1px;
		border-color:black;border-style:solid;">
			{% if billingConfig.documentType == 'facture' %}
				Total à payer :
			{% else %}
				TOTAL :
			{% endif %}
		</td>
		<td style="width:{{ 0.24 * fullWidth }};text-align: center;
		border-width:1px;border-bottom-width:1px;border-right-width:1px;
		border-color:black;border-style:solid;">
			{{(leftToSettle.total)|format_currency('EUR', {rounding_mode: 'halfeven'})}}
			{# // TODO - sum of transction#}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};"></td>
	</tr>
	<tr>
		<td class="empty-space" style="font-size:3px;">&nbsp;</td>
	</tr>
</table>
<table class="aim" style="padding: 0px;border-spacing:{{ (0) * fullWidth }} 0;
		color:#666666;font-size:14pt;
		border: solid 1px black;
		text-align:center;font-weight:bold;">
	<tr>
		<td class="empty-space" style="font-size:4px;">&nbsp;</td>
	</tr>
	<tr>
		<td class="aim-label" style="width:{{ fullWidth }};">
			{% if billingConfig.documentType == 'facture' %}
				Facture {{
					(businessSignatureImg ?? null) ? "Monwoo" : "Démo"
				}} n° {{ billingConfig.quotationNumber }} de :
				{{ (billingConfig.quotationAmount ?? 0)
					|format_currency('EUR', {rounding_mode: 'halfeven'}) }}
				T.T.C.
			{% else %}
				Dans l'attente de votre retour.
			{% endif %}
		</td>
	</tr>
	<tr>
		<td class="empty-space" style="font-size:4px;">&nbsp;</td>
	</tr>
</table>
<table class="aim" style="padding: 0px;border-spacing:{{ (0) * fullWidth }} 0;
		text-align:right;font-size:10pt;">
		<tr><td>
			{# // TODO : only if no forseen payment,
			and all transactions fullfill the full quotation... #}
			{% if billingConfig.documentType == 'facture' %}
				{# Merci, vous avez soldé l'opération. // TODO if solde ok #}
				{% if leftToSettle.total %}
					Merci et à bientôt.
				{% else %}
					Merci, vous avez soldé l'opération.
				{% endif %}
			{% else %}
				Merci et à bientôt.
			{% endif %}
		</td></tr>
</table>
