{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
<div class="quuotation-outlay-details">
Service par : {{ outlay.providerName }} pour :
{% if outlay.percentOnBusinessTotal %}
  {{ outlay.percentOnBusinessTotal|format_percent_number({
    rounding_mode: 'halfeven', fraction_digit: 2
  }) }} % du montant du projet.
{% else %}
  {{ (outlay.providerTotalWithTaxesForseenForClient
  ? outlay.providerTotalWithTaxesForseenForClient
  : outlay.providerAddedPrice)|format_currency('EUR', {rounding_mode: 'halfeven'})
  }}
{% endif %}
<br/><br/>
L'acceptation de ce devis par le client vaut Mandat de débours pour ce service
auprès de {{ outlay.providerName }}. <br/><br/>
Le paiement complet de ce devis autorise Monwoo à engager les frais de
{{ outlay.providerName }} pour le compte du client dans la
limite du budget transmit. La facture de
{{ outlay.providerName }} sera transmise au client par Monwoo.
</div>