{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}

<style></style>

{# <!-- TODO : for loop on Transactions --> #}
{% for t in transactions %}
	<tr style="text-align:right;font-size:10pt;color:#666666;">
		<td style="width:{{ 0.40 * fullWidth }};border-right:solid 1px black;">
			{{ t.label ?? "Acompte" }} {{ t.receptionNumber }} du {{ t.receptionDate|date("d/m/Y") }} :
		</td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">
			{{(totalPriceWithTaxes ? (t.priceWithoutTaxes + t.addedTaxes)/totalPriceWithTaxes : 0)
				|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2})
			}}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">
			{{t.priceWithoutTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">
			{{t.addedTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">
			{{(t.priceWithoutTaxes + t.addedTaxes)
				|format_currency('EUR', {rounding_mode: 'halfeven'})
			}}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};text-align:left;font-size:5pt;">
			<span style="font-size:1px;">&nbsp;</span>
			{{t.paymentMethod}}
		</td>
	</tr>
{% endfor %}

{% if leftToSettle.totalWithTaxes|round(2) %}
	<tr style="text-align:right;font-size:10pt;font-weight:bold;color:#000000;">
		<td style="width:{{ 0.40 * fullWidth }};border-right:solid 1px black;">
				Reste à régler :
		</td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">
			{{leftToSettle.totalPercent
				|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2})
			}}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">{{leftToSettle.totalWithoutTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">{{leftToSettle.totalTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">
			{{leftToSettle.totalWithTaxes
				|format_currency('EUR', {rounding_mode: 'halfeven'})
			}}
		</td>
		<td style="width:{{ 0.12 * fullWidth }};">
		</td>
	</tr>
{% endif %}

<tr style="text-align:right;font-size:10pt;font-weight:normal;color:#666666;">
	<td style="width:{{ 0.40 * fullWidth }};border-right:solid 1px black;">
			TOTAL :
	</td>
	<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">
		{{(totalPriceWithTaxes ? (transactionTotals.addedTaxes + transactionTotals.priceWithoutTaxes
		 + leftToSettle.totalWithTaxes)/totalPriceWithTaxes : 0)
			|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2})
		}}
	</td>
	<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">
		{{(transactionTotals.priceWithoutTaxes + leftToSettle.totalWithoutTaxes)|format_currency('EUR', {rounding_mode: 'halfeven'})}}
	</td>
	<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">
		{{(transactionTotals.addedTaxes + leftToSettle.totalTaxes)|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">
		{{(transactionTotals.addedTaxes + transactionTotals.priceWithoutTaxes
			+ leftToSettle.totalWithTaxes)|format_currency('EUR', {rounding_mode: 'halfeven'})
		}}
	</td>
	<td style="width:{{ 0.12 * fullWidth }};"></td>
</tr>
