{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{% set allowedHtmlTags = '<b>,<a>,<strong>,<br>,<pre>,<div>' %}

{# // TIPS : force float conversion to ignore about possible discountPercent null value... #}
{% set discountPercent = discountPercent ?? 0.0 %}

<style></style>
{% if outlay.insertPageBreakBefore %}
	<br pagebreak="true"/>
{% endif %}

{% if outlay.marginTop ?? null %}
	<table>
		<tr>
			<td class="empty-space" style="height:{{outlay.marginTop}};font-size:{{outlay.marginTop}};">&nbsp;</td>
		</tr>
	</table>
{% endif %}
<table class="quotation-outlay" style="padding: 1px 2px;
		border-spacing:{{ (0) * fullWidth }} 0;font-size:8pt;">
	<tr class="header" style="font-weight:bold;text-align:right;">
		<th class="description" style="width:{{ 0.28 * fullWidth }}">Désignation</th>
		<th class="quantity" style="width:{{ 0.12 * fullWidth }}">Quantité</th>
		<th class="price-per-unit-without-taxes" style="width:{{ 0.12 * fullWidth }}">P.U. H.T.</th>
		<th class="taxes-percent" style="width:{{ 0.12 * fullWidth }}">Taux de T.V.A.</th>
		<th class="discount-percent" style="width:{{ 0.12 * fullWidth }}">% de remise</th>
		<th class="price-without-taxes" style="width:{{ 0.12 * fullWidth }}">Prix H.T.</th>
		<th class="price-with-taxes" style="width:{{ 0.12 * fullWidth }}">Prix T.T.C.</th>
	</tr>
</table>
<table class="quotation-outlay" style="padding: 2px 2px;
		border-spacing:{{ (0) * fullWidth }} 0;font-size:9pt;">
	<tr class="data" style="text-align:right;font-size:10pt;">
		<td class="description" style="width:{{ 0.28 * fullWidth }};text-align:left;font-size:8pt;">{{description|striptags(allowedHtmlTags)|raw}}</td>
		<td class="quantity" style="width:{{ 0.12 * fullWidth }};font-weight:bold;">{{quantity|format_number({fraction_digit: 2})}}</td>
		<td class="price-per-unit-without-taxes" style="width:{{ 0.12 * fullWidth }};">{{pricePerUnitWithoutTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td class="taxes-percent" style="width:{{ 0.12 * fullWidth }};">
			{% if taxesPercent or outlay.providerAddedPrice or outlay.percentOnBusinessTotal %}
				{% if outlay.providerTotalWithTaxesForseenForClient %} ! ~ {% endif %}
				{{ taxesPercent|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2}) }}
			{% else %}
				Cf débours
			{% endif %}
		</td>
		<td class="discount-percent" style="width:{{ 0.12 * fullWidth }};">
			{# TIPS : discountPercent is on WORKLOADS hours only for now...
			// TODO : will have to improve for next version or better to 
			// only have one way to quickly bill anything ?
			{{discountPercent|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2}) }} #}
			Cf débours
		</td>
		<td class="price-without-taxes" style="width:{{ 0.12 * fullWidth }};font-weight:bold;">{{priceWithoutTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
		<td class="price-with-taxes" style="width:{{ 0.12 * fullWidth }};font-weight:bold;">{{priceWithTaxes|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	</tr>
	<tr class="sub-data" style="text-align:right;font-size:10pt;">
		<td class="aim-title" style="width:{{ 0.28 * fullWidth }};text-align:left;font-weight:bold;">
			<div class="first" style="text-decoration:underline;">{{(aimTitle ?? "")|striptags(allowedHtmlTags)|raw}}</div>
			<div class="second" style="text-align:right;">
			{{(aimTitleBis ?? "")|striptags(allowedHtmlTags)|raw}}
			{% if providerTotalWithTaxesForseenForClient or outlay.providerAddedPrice %}
				<br/><span>[&nbsp;&nbsp;{{ (providerTotalWithTaxesForseenForClient
					+ outlay.providerAddedPrice + outlay.providerAddedPriceTaxes)|format_currency('EUR', {rounding_mode: 'halfeven'}) }}&nbsp;&nbsp;]</span>
			{% endif %}
			{% if outlay.percentOnBusinessTotal %}
				{# TIPS : was ONE space wrong alignment, wrapping with 'span' tag did solve the trouble #}
				<br/><span>[ {{ (businessTotal ? ( outlay.percentOnBusinessTotal +
					+ outlay.percentOnBusinessTotal * businessTotal
					* outlay.taxesPercentAddedToPercentOnBusinessTotal
					/ businessTotal
				) : 0) |format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2}) }} T.T.C. sur
				{{ businessTotal|format_currency('EUR', {rounding_mode: 'halfeven'}) }} ]</span>
			{% endif %}
			</div>
		</td>
		<td class="aim-description" style="width:{{ 0.60 * fullWidth }};font-weight:normal;text-align:left;">
			{{(aimDescription ?? "")|striptags(allowedHtmlTags)|raw}}
		</td>
	</tr>
	<tr>
		<td class="empty-space" style="height:{{paddingBottom ?? 0}};"></td>
		{# TIPS : add TD to have full line (3 cells needed) :
		<td class="empty-space" style="height:{{paddingBottom ?? 0}};"></td>
		<td class="empty-space" style="height:{{paddingBottom ?? 0}};"></td> #}
	</tr>
</table>
{% if outlay.insertPageBreakAfter %}
	<br pagebreak="true"/>
{% endif %}

{% if outlay.marginBottom ?? null %}
	<table>
		<tr>
			<td class="empty-space" style="height:{{outlay.marginBottom}};font-size:{{outlay.marginBottom}};">&nbsp;</td>
		</tr>
	</table>
{% endif %}