{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
<style></style>
<table class="lawful" style="padding: 0px;border-spacing:{{ (0) * fullWidth }} 0;
		text-align:center;font-size:9pt;">
	<tr>
		<td class="empty-space" style="font-size:4px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="font-size:11pt;">
			La signature du présent devis n°{{quotationNumber}}
			ou un paiement d'acompte avec la référence au devis
			entraîne l'acceptation sans réserve des
			conditions générales de vente figurant en annexe
		</td>
	</tr>
	<tr>
		<td class="empty-space" style="font-size:4px;">&nbsp;</td>
	</tr>
	<tr style="text-align:left;color:#666666;">
		<td style="width:{{ 0.28 * fullWidth }};
										font-size:11pt;font-weight:bold;color:#11589A;">
			Fait en _ _ _ exemplaires.</td>
		<td
			style="width:{{ 0.72 * fullWidth }};text-align:right;font-size:8pt;">
			{# // TIPS : use empty space to vertical align since text-align don't work with tcpdf #}
			<div class="empty-space" style="font-size:2.5px">&nbsp;</div>
			Datez et paraphez chaques pages. Cachet mention "Bon pour accord",
			cachet de l'entreprise et signature(s) :</td>
	</tr>
	<tr>
		<td class="empty-space" style="font-size:7px;">&nbsp;</td>
	</tr>
	<tr style="text-align:center;font-size:10pt;">
		<td style="width:{{ 0.50 * fullWidth }};color:#666666;border-color:#666666;border-top-width:0.4px;border-left-width:0.4px;border-right-width:0.4px;">
			Signature(s) ou cachet(s) de validation Monwoo :</td>
		<td
			style="width:{{ 0.50 * fullWidth }};text-align:right;color:#11589A;">
			{# // TIPS : use empty space to vertical align since text-align don't work with tcpdf #}
			Signé le : _ _ _ / _ _ _ / _ _ _ _ _ _ _
			<br/><br/>
			Fait à : _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</td>
	</tr>
	<tr>
		<td class="empty-space" style="font-size:7px;border-left-width:0.4px;">&nbsp;</td>
	</tr>
	<tr style="text-align:center;font-size:10pt;">
		<td style="width:{{ 0.5 * fullWidth }};border-left-width:0.4px;">
			<div class="empty-space" style="font-size:20px">&nbsp;</div>
				{# Only keep 0.28 on 0.5 to give space for Monwoo or Approved Intermediate 
				to physically sign in case email is not enough or if client or business
				need a hand writtend proof for better oldschool contracts ways (= offline paper mode...) #}
				{% if businessSignatureImg ?? null %}
					<img style="height:64};" src="{{ businessSignatureImg }}"/>
				{% else %}
					Devis de démonstration. Merci de l'envoyer sur service@monwoo.com pour obtenir l'accord et le numéro de devis Monwoo.
				{% endif %}
			<div class="empty-space" style="font-size:12px">&nbsp;</div>
		</td>
		<td
			style="width:{{ 0.5 * fullWidth }};font-size:10pt;color:#666666;border:solid 1px black;">
			{# // TIPS : use empty space to vertical align since text-align don't work with tcpdf #}
			Signature du client :
		</td>
	</tr>
	<tr>
		<td class="empty-space" style="font-size:4px;border-left-width:0.4px;">&nbsp;</td>
	</tr>
</table>
<table class="lawful-extra" style="text-align: center;border-spacing:{{ (0) * fullWidth }} 0;">
	<tr>
		<td class="empty-space" style="font-size:4px;border-left-width:0.4px;">&nbsp;</td>
	</tr>
	<tr>
		<td style="width:{{ 0.21 * fullWidth }};text-align: center;">
			{% if footprintQrCodeUrl ?? null %}
				<img style="width:50px;" src="{{ footprintQrCodeUrl }}"/>
			{% endif %}
		</td>
		<td style="width:{{ 0.79 * fullWidth }};font-size:8pt;color:#666666;">
			<div>
				Conformément à l’article L.441-6 du code de commerce, des pénalités de retard,
				au taux annuel de 20 % et une indemnité de 40€ sont dues à défaut de 
				règlement le jour suivant la date de paiement figurant sur la facture.
			</div>
			<div>
				Dispensé d'immatriculation au registre du commerce et des sociétés (RCS)
				et au répertoire des métiers.
			</div>
			<div>
				TVA non applicable, art. 293B du C.G.I. et art. 22 de la loi finances pour 2018.
			</div>
			<div class="empty-space" style="font-size:7px;border-left-width:0.4px;">&nbsp;
			</div>
			<div style="font-size:8pt;font-weight:bold;">
				For foreign user, please ensure a professional translation from French before signing.
			</div>
		</td>
		<td style="width:{{ 0.00 * fullWidth }}">
		</td>
	</tr>
</table>
